# basic configs
APP_VERSION=1.0
DEBUG=False
SECRET_KEY="secret-key"
DOMAIN_URL=https://we-eventhub.up.railway.app
ALLOWED_HOSTS=we-eventhub.up.railway.app
SESSION_EXPIRY_TIME=1209600
PORT=8080

DATABASE_URL="postgresql://connection-url"

# email (for testing only, not used in production)
SUPPORT_EMAIL="support@email.com"
SUPPORT_EMAIL_APP_PASSWORD="support-app-password"

# media
MAX_UPLOAD_MB=5
SUPPORTED_IMAGE_FORMATS=JPEG,PNG,WEBP

AVATAR_IMAGE_DIMENSIONS=300,300

EVENT_IMAGE_SIZE_KB=500
EVENT_IMAGE_DIMENSION=1200

UPLOADCARE_PUBLIC_KEY="uploadcare-public-key"
UPLOADCARE_SECRET="uploadcare-secret"
CDN_DOMAIN="cdn-domain"

# recommendation system algorithm scoring points
CATEGORY_SCORE=30
LOCATION_SCORE=40
PRICE_MIN_MAX_MATCH_SCORE=20
PRICE_MAX_MATCH_SCORE=10
PURCHASED_SCORE=-1000

# ensures that cron job trigger is a legitimate request
CRON_JOB_SECRET="cron-job-secret"

# checkout
SERVICE_FEE=0.08
RESERVED_TICKET_EXPIRATION_MIN=10

STRIPE_PUBLIC_KEY="stripe-public-key"
STRIPE_SECRET_KEY="stripe-secret-key"

# secure headers
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True