Django>=5.0,<6.0
pylint <= 3.3.9
pylint-django <= 2.6.1
django-environ <= 0.12.0
requests>=2.3

# for images
Pillow >= 10.3.0
pyuploadcare[django] ~= 6.2.1
python-barcode >= 0.16.1

# for payment
stripe~=13.2.0
reportlab >= 4.4.5 # for receipt generation