.new-event-section {
    padding: 4rem 0;
}

.event-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 3.25rem;
    row-gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.pricing-zones h5 {
    margin: 1rem 0;
}

.pricing-zone-item {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.pricing-zone-item>* {
    margin-bottom: 1rem;
}

.char-counter {
    text-align: right;
    font-size: 0.6rem;
    opacity: 0.75;
}

.form-actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.form-actions.multi-form-submit {
    margin-top: 3rem;
}

@media (max-width: 480px) {
    .pricing-zone-item {
        padding: 1.5rem 1.25rem;
    }
}

@media (max-width: 365px) {
    .form-actions {
        flex-direction: column;
    }

    .form-actions .btn-primary,
    .form-actions .btn-secondary {
        width: 100%;
        justify-content: center;
    }
}