.view-orders-section {
    padding: 4rem 0;
}

.view-orders-section .section-header-large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.view-orders-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 475px) {

    .exploreEventsBtn {
        display: none;
    }

}