{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Event {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/pages/create-event.css' %}" type="text/css">
{% endblock %}

{% block content %}

<section id="new-event" class="new-event-section">
    <div class="container-small">
        <div class="section-header-large">
            <h1>Edit Event</h1>
            <p>Update the details of the event</p>
        </div>

        <form class="event-form" id="eventEditForm" action="{% url 'events:edit_event' event.id %}" method="POST">
            {% csrf_token %}
            <div class="form-section">
                <div class="form-section-header">
                    <h3>Event Information</h3>
                    <div class="toggle-wrapper" title="If enabled, attendees can leave and re-enter this event.">
                        <label class="toggle">
                            <input type="checkbox" name="allow_reentry" 
                            {% if event_form.allow_reentry.value %}checked{% endif %}>
                            <span class="switch">
                                <span class="slider"></span>
                            </span>
                        </label>
                        <span class="toggle-label">Allow Re-entry</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-meta-row">
                        <label for="eventName">Event Name</label>
                        <small id="nameCounter" class="char-counter"></small>
                    </div>
                    <input type="text" id="eventName" name="name" maxlength="50" placeholder="Enter event name"
                        value="{{ event_form.name.value|default_if_none:'' }}" required>
                    {% if event_form.name.errors %}
                    <small class="form-error">{{ event_form.name.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="eventDate">Event Date</label>
                        <input type="date" id="eventDate" name="date" data-utc="{{ event.date|date:'c' }}"
                            class="input-date" value="" required>
                        {% if event_form.date.errors %}
                        <small class="form-error">{{ event_form.date.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="eventTime">Start Time</label>
                        <input type="time" id="eventTime" name="time" data-utc="{{ event.date|date:'c' }}"
                            class="input-time" value="" required>
                        {% if event_form.time.errors %}
                        <small class="form-error">{{ event_form.time.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="eventAddress">Location</label>
                    <input type="text" id="eventAddress" name="location" placeholder="Enter full address"
                        value="{{ event_form.location.value|default_if_none:'' }}" required>
                    {% if event_form.location.errors %}
                    <small class="form-error">{{ event_form.location.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="eventCategory">Category</label>
                    <select id="eventCategory" name="category" required>
                        <option value="">Select category</option>
                        {% for value, label in event_form.fields.category.choices %}
                        {% if event_form.category.value == value %}
                        <option value="{{ value }}" selected>{{ label }}</option>
                        {% else %}
                        <option value="{{ value }}">{{ label }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    {% if event_form.category.errors %}
                    <small class="form-error">{{ event_form.category.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="eventDescription">Description</label>
                    <textarea id="eventDescription" name="description" rows="6" maxlength="5000"
                        placeholder="Describe your event...">{{ event_form.description.value|default_if_none:'' }}</textarea>
                    <small id="descCounter" class="char-counter"></small>
                    {% if event_form.description.errors %}
                    <small class="form-error">{{ event_form.description.errors.0 }}</small>
                    {% endif %}
                </div>

                <input type="hidden" class="userTimezone" name="timezone">
                {% if event_form.timezone.errors %}
                <small class="form-error">{{ event_form.timezone.errors.0 }}</small>
                {% endif %}
            </div>
        </form>

        <form class="event-form" id="eventDeleteForm" action="{% url 'events:delete_event' event.id %}" method="POST">
            {% csrf_token %}
        </form>

        <div class="form-actions multi-form-submit">
            {% if event.total_seats_sold == 0 %}
            <button class="btn-secondary" id="deleteEventBtn" data-form-id-submit="eventDeleteForm">Delete</button>
            {% endif %}
            <button class="btn-primary" id="editEventBtn" data-form-id-submit="eventEditForm">Save Event</button>
        </div>
    </div>
</section>

<script src="{% static 'js/create-event.js' %}" defer></script>

{% endblock %}