{% extends 'base.html' %}
{% load static %}

{% block title %} My events {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/pages/my-events.css' %}" type="text/css">
{% endblock %}

{% block content %}

<section id="my-events" class="my-events-section">
    <div class="container-small">
        <div class="section-header-large">
            <h1>My Events</h1>
            <a href="{% url 'events:create_event' %}" class="addEventBtn" id="addEventBtn">
                <button class="btn-primary"><i class="fas fa-plus"></i><span> Create Event</span></button>
            </a>
        </div>

        {% if paginated_events.object_list|length > 0 or request.GET %}
        <div class="history-filters">
            <div class="filter-tabs">
                <button class="filter-tab" data-filter="all">All Events</button>
                <button class="filter-tab" data-filter="upcoming">Upcoming</button>
                <button class="filter-tab" data-filter="past">Past</button>
            </div>
            <div class="search-history">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search your events..." class="eventsSearch my-events"
                    value="{{request.GET.search}}">

                <div class="suggestions-box searchSuggestions"></div>
            </div>
        </div>
        {% endif %}

        {% if not paginated_events.object_list and request.GET %}
        <p class="empty-state">No events found.</p>
        {% elif not paginated_events.object_list %}
        <p class="empty-state">You have not created any events yet.</p>
        {% endif %}

        {% if paginated_events.object_list|length > 0 %}
        <div class="events-list">
            {% for event in paginated_events.object_list %}
            <a href="{% url 'events:view_event' event.id %}">
                <div class="event-card {% if event.is_past %} past {% endif %}">
                    <div class="event-image">
                        <img src="{{ event.images.first.url }}" alt="{{event.name}} event thumbnail">
                    </div>

                    <div class="event-content">
                        <div class="event-description">
                            <div class="event-date">
                                <span class="date-day" data-utc="{{ event.date|date:'c' }}"></span>
                                <span class="date-month" data-utc="{{ event.date|date:'c' }}"></span>
                            </div>

                            <div class="event-info">
                                <h3>{{ event.name }}</h3>
                                <p><i class="fas fa-calendar"></i> <span class="full-date-no-week-day"
                                        data-utc="{{ event.date|date:'c' }}"></p>
                                <p class="event-location"><i class="fas fa-map-marker-alt"></i> {{ event.location }}
                                </p>
                                <div class="event-stats">
                                    <p><i class="fas fa-ticket-alt"></i> {{event.total_seats_sold}} /
                                        {{event.total_seats}}
                                        sold
                                    </p>
                                    <p class="event-revenue-desktop"><i class="fas fa-dollar-sign"></i>
                                        {{event.revenue}} revenue</p>
                                </div>

                            </div>
                        </div>

                        <div class="event-footer">
                            <p class="event-revenue-mobile"><i class="fas fa-dollar-sign"></i> {{event.revenue}} revenue
                            </p>

                            {% if event.is_past %}
                            <button class="btn-secondary btn-small">Past&nbsp;Event</button>
                            {% else %}
                            <button class="btn-secondary btn-small"
                                data-edit-url="{% url 'events:edit_event' event.id %}" onclick="redirectToEdit(event)">
                                <i class="fas fa-edit"></i> Edit
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        {% include "components/pagination.html" with pagination_results=paginated_events query=query only %}

        {% endif %}
    </div>
</section>

<script>
    function redirectToEdit(e) {
        e.preventDefault();
        e.stopPropagation();
        const btn = e.currentTarget;
        const editUrl = btn.dataset.editUrl;
        window.location.href = editUrl;
    }
</script>

{% endblock %}