{% extends 'base.html' %}
{% load static %}

{% block title %} Account {% endblock %}

{% block content %}

{% if avatar_error %}
    <div class="alert alert-danger">{{ avatar_error }}</div>
{% endif %}

<form id="avatarUploadForm" action="{% url 'users:avatar_upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile-avatar-section">
        <div class="avatar-display">
            <img src="{{user.avatar}}" alt="User's avatar" width="120" height="120" id="avatar-img">
        </div>
        <div class="avatar-actions">
            <input type="file" id="imageUpload" name="imageFile" accept=".jpg,.jpeg,.png,.gif,.webp" style="display: none;">

            <button type="button" class="btn-secondary" id="changePhotoBtn">Change Photo</button>
        </div>
    </div>
</form>

<form action="{% url 'users:avatar_delete' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="link-text">Remove</button>
</form>


<script src="{% static 'js/avatar-upload.js' %}" defer></script>

{% endblock %}