{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{% block content %}

<section class="auth-section">
    <div class="auth-container">
        <div class="auth-box">
            <div class="auth-header">
                <h2>Reset Your Password</h2>
            </div>

            <form class="auth-form" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="registerPassword">Password</label>
                    <input type="password" id="registerPassword" name="new_password1" placeholder="At least 8 characters"
                        minlength="8" required>
                    {% if form.new_password1.errors %}
                    <small class="form-error">{{ form.new_password1.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="registerConfirmPassword">Confirm Password</label>
                    <input type="password" id="registerConfirmPassword" name="new_password2"
                        placeholder="Re-enter your password" minlength="8" required>
                    {% if form.new_password2.errors %}
                    <small class="form-error">{{ form.new_password2.errors.0 }}</small>
                    {% endif %}
                </div>

                <button type="submit" class="btn-primary btn-full">Change Password</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}