.order-card {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 2rem;
    transition: var(--transition);
}

.order-card:hover {
    border-color: var(--primary-color);
    box-shadow: var(--card-shadow);
}

.order-header {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.order-header .event-date {
   align-self: stretch;
}

.order-event-info {
    flex: 1;
}

.order-event-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.order-meta {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    color: var(--text-secondary);
}

.order-status {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: rgba(108, 99, 255, 0.2);
    color: var(--primary-color);
}

.order-details {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--bg-tertiary);
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.order-info p {
    margin-bottom: 0.5rem;
    color: var(--text-secondary);
}

.order-amount {
    text-align: right;
}

.amount-label {
    display: block;
    color: var(--text-secondary);
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.amount-value {
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--primary-color);
}

.amount-value.free {
    color: var(--success-color);
}

.order-actions {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.order-card.past {
    opacity: 0.8;
}

.order-card.past .order-event-date {
    border-color: var(--text-secondary);
}

.order-card.past .order-event-date .order-date-day {
    color: var(--text-secondary);
}

.order-card.past .order-status {
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
}

@media (max-width: 615px) {
    .order-status {
        display: none;
    }

    .order-details {
        flex-direction: column;
    }

    .order-amount {
        text-align: left;
    }

    .amount-label {
        font-size: 1rem;
        font-weight: 700;
    }
}

@media (max-width: 465px) {
    .order-event-date {
        display: none;
    }
}

@media (max-width: 350px) {
    .order-actions {
        flex-direction: column;
        width: 100%;
    }
}