.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.pagination-btn {
    padding: 0.75rem 1.5rem;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: 50px;
    color: var(--text-primary);
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pagination-btn:hover:not(:disabled) {
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-color: var(--primary-color);
}

.pagination-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-pages {
    display: flex;
    gap: 0.5rem;
}

button.pagination-page,
.pagination-page button {
    width: 40px;
    height: 40px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    color: var(--text-primary);
    cursor: pointer;
    transition: var(--transition);
}

.pagination-page button:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-color: var(--primary-color);
}

.pagination-page.active {
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-color: var(--primary-color);
}

@media (max-width: 575px) {
    .pagination {
        gap: 0.5rem;
    }

    .pagination-btn {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    button.pagination-page,
    .pagination-page button {
        width: 35px;
        height: 35px;
    }

    .pagination-pages {
        justify-content: center;
    }

   .pagination-page {
        display: none;
    }

    .pagination-page.active,
    .pagination-page.prev-page,
    .pagination-page.next-page {
        display: block;
    }
}

@media (max-width: 425px) {
    .pagination-btn {
        padding: 0.4rem 0.8rem;
        font-size: 0.85rem;
    }
}

@media (max-width: 375px) {

    .pagination-pages a,
    .pagination-pages .pagination-page:not(.pagination-page.active) {
        display: none;
    }
    
}