{% extends 'base.html' %}
{% load static %}

{% block title %} Upcoming Events {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/pages/my-events.css' %}" type="text/css">
{% endblock %}

{% block content %}

<section id="my-events" class="my-events-section">
    <div class="container-small">
        <div class="section-header-large">
            <div>
                <h1>Upcoming Events</h1>
                <p>View events for which you purchased tickets</p>
            </div>

            <a href="{% url 'events:view_events' %}" class="exploreEventsBtn">
                <button class="btn-secondary"><i class="fas fa-compass"></i> Explore Events</button>
            </a>
        </div>

        {% if paginated_events.object_list|length > 0 or request.GET %}
        <div class="history-filters">
            <div class="filter-tabs">
                <button class="filter-tab" data-filter="all">All Events</button>
                <button class="filter-tab" data-filter="upcoming">Upcoming</button>
                <button class="filter-tab" data-filter="past">Past</button>
            </div>
            <div class="search-history">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search events you have tickets for..."
                    class="eventsSearch upcoming-events" value="{{request.GET.search}}">

                <div class="suggestions-box searchSuggestions"></div>
            </div>
        </div>
        {% endif %}

        {% if not paginated_events.object_list and request.GET %}
        <p class="empty-state">No events found.</p>
        {% elif not paginated_events.object_list %}
        <p class="empty-state">You have not made any purchases yet.</p>
        {% endif %}

        {% if paginated_events.object_list|length > 0 %}
        <div class="events-list">
            {% for event in paginated_events.object_list %}
            <a href="{% url 'events:view_event' event.id %}">
                <div class="event-card {% if event.is_past %} past {% endif %}">
                    <div class="event-image">
                        <img src="{{ event.images.first.url }}" alt="{{event.name}} event thumbnail">
                    </div>

                    <div class="event-content">
                        <div class="event-description">
                            <div class="event-date">
                                <span class="date-day" data-utc="{{ event.date|date:'c' }}"></span>
                                <span class="date-month" data-utc="{{ event.date|date:'c' }}"></span>
                            </div>

                            <div class="event-info">
                                <h3>{{ event.name }}</h3>
                                <p><i class="fas fa-calendar"></i> <span class="full-date-no-week-day"
                                        data-utc="{{ event.date|date:'c' }}"></p>
                                <p class="event-location"><i class="fas fa-map-marker-alt"></i> {{ event.location }}</p>
                                <div class="event-stats">
                                    <p><i class="fas fa-ticket-alt"></i> {{event.owned_tickets}} tickets</p>
                                </div>
                            </div>
                        </div>

                        {% if event.is_past %}
                        <div class="event-footer">
                            <span class="mobile-spacing"></span>
                            <button class="btn-secondary btn-small">Past&nbsp;Event</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        {% include "components/pagination.html" with pagination_results=paginated_events query=query only %}

        {% endif %}
    </div>
</section>

{% endblock %}